.block{
    padding: 20px;
    .input-container{
        padding: 20px;

        h1{margin-left: 20px;}

        .input-box{
            display: flex;
            margin-top: 15px;

            input{
                width: 90%;
            }

            label{
                width: 200px;
                white-space: nowrap;
            }
        }

        button, input[type="submit"]{
            margin-top: 20px;
            margin-left: 10px;
        }
    }
    .columns{
        .column{padding-bottom: 24px;margin: 15px 10px 0 10px;}
        .box{
            width: -webkit-fill-available;
            margin-bottom: 10px;

            span{margin-right: auto;}

            .progress-status{margin-left: 10px;}

            button, input{
                margin-left: 10px;
                border-radius: 50%;
                height: 32px;
                width: 22px;
            }
            
        }

        span{
            color: black;
            margin-block: auto;
            margin-inline: 5px; 
        }

        .is-disabled{
            background-color: gray !important;
            opacity: 0.6;
        }
        .card{
            display: none;
            box-shadow: 4px 3px 10px 1px rgba(0,0,0,0.51);
            border-radius: 15px;

            .drop-down-btn{
                right: 0;
                width: 200px;
            }

            .dropdown-menu{display: none;}

            .card-footer{
                padding: 0 0 20px 20px;
            }
            .media-content{
                p{margin: 5px 0 5px 0;}
            }
        }
    }
    .editModal, .deleteModal, .nullModal{display: none;}
    .editModal{--id:-1;}
}

.modal{
    p{font-size: 24px;}
    opacity: 1;
    transition: opacity 300ms ease-in-out;

    .modal-background{
        cursor:auto;
    }
}

.is-line-through{text-decoration: line-through;}